doctype html
html
  head
    title Minha Página
  body
    h1 Bem-vindo à Minha Página
    form(action="/redirectToOriginalURL", method="get")
      label(for="shortUrl") Insira a URL encurtada:
      input(type="text", id="shortUrl", name="shortUrl")
      button(type="submit") Redirecionar


